@font-face {
  font-family: Montserrat;
  src: url("../assets/Montserrat-Regular.ttf");
}

html {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background-color: #374457;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: #374457;
  color: #f3564a;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 60px;
  border-bottom: solid #f3564a 1rem;
  border-radius: 15px;
}

.edit-field {
  padding: 12px;
}

.header {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 5px;
  color: #f3564a;
}

.grid-container {
  display: grid;
  grid-template: 100% / 30% 70%;
}

.main-station {
  grid-column: 1/2;
  background-color: white;
  text-align: left;
  border-right: solid #374457 2px;
  padding-left: 20px;
}

.preview-panel {
  grid-column: 2/3;
  background-color: white;
}
